$white: #fff;
$grey: #f2f2f2;
$black: #121212;
$dPurple: #492540;
$lRed: #e7476a;
$lime: #f6ea8c;

$fontWeights: (
  'regular': 400,
  'medium': 500,
  'bold': 700
);

:root {
  --textSize: 1.25rem;
  --titleSize: 2rem;
}
