.listWrapper {
  min-height: 100vh;
  width: 100%;

  @include flexItem(center, flex-start, column);

  .addNew {
    position: absolute;
    right: 7rem;
    top: 2rem;

    height: 2rem;
    width: 120px;
    background: $pink;

    border-radius: 10px;
    text-transform: capitalize;

    a {
      text-decoration: none;
      color: $white;
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
    }
  }
}

h2 {
  padding: 2.5rem 0;
}

.list {
  list-style: none;
  width: 40vw;
  padding: 3rem 0;

  .tableListItem {
    @include flexItem(center, space-between, row);
    position: relative;
    height: 3.5rem;

    &:not(:first-child) {
      margin-top: 2.5rem;
    }

    .tableName {
      a {
        text-decoration: none;
        color: $black;
        font-size: 1.4rem;
      }
    }

    .tableInfo {
      @include flexItem(flex-end, center, column);

      div {
        display: flex;
        flex-direction: column;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background: $pink;
      border-radius: 0 0 10px 10px;
    }

    .dltBtn {
      position: absolute;
      right: -60px;
      height: 40px;
      width: 40px;
      cursor: pointer;

      display: grid;
      place-items: center;
      background: $grey;
      border-radius: 50%;
      color: $white;

      transition: all 0.3s ease;

      &:hover {
        background: $pink;
      }
    }
  }
}
