.contactsList {
  list-style: none;
  height: 100%;
  width: 70%;
  margin: auto;
  overflow-y: scroll;
  direction: rtl;
  position: relative;

  & > * + * {
    margin-top: 10vh;
  }

  &__emptyList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--titleSize);
    text-transform: capitalize;
    width: 100%;
    text-align: center;
  }
}
